.MODEL{
background-color: azure;
margin: 60px;
margin-top: 120px;
padding-left: 230px;
padding-right: 320px;
margin-top: 300px;

}

body{
    background-color: gray;
}
h1{
    border: solid black;
    background-color: aquamarine;
    height: 70px;
    width: 190px; 
    margin-top: 50px;
}